In [1]:
import pandas as pd

In [6]:
import pandas as pd
csv_path = (r'C:\Users\irhan\OneDrive - grow distributed users\BelajarPython\Dataset\COVID_INDONESIA\cases.csv')
df = pd.read_csv(csv_path)
print(df.head())

x = df[['acc_tested']] #digunakkan untuk mengambil satu kolom dari seluruh tabel
print(x)

       date  new_tested  acc_tested  new_confirmed  acc_confirmed  \
0  2-Mar-20         NaN         339              2              2
1  3-Mar-20         2.0         341              0              2
2  4-Mar-20        31.0         372              0              2
3  5-Mar-20        16.0         388              0              2
4  6-Mar-20        62.0         450              2              4

   acc_negative  being_checked  isolated  new_released  acc_released  \
0           335              2         2             0             0
1           337              2         2             0             0
2           356             14         2             0             0
3           371             15         2             0             0
4           422             24         4             0             0

   new_deceased  acc_deceased positive_rate negative_rate decease_rate  \
0             0             0         0.59%        98.82%        0.00%
1             0             0         0.59%        98.83%        0.00%
2             0             0         0.54%        95.70%        0.00%
3             0             0         0.52%        95.62%        0.00%
4             0             0         0.89%        93.78%        0.00%

  release_rate dailypositive_rate
0        0.00%              0.00%
1        0.00%              0.00%
2        0.00%              0.00%
3        0.00%              0.00%
4        0.00%              3.23%
    acc_tested
0          339
1          341
2          372
3          388
4          450
5          454
6          483
7          543
8          694
9          793
10         862
11        1005
12        1205
13        1293
14        1330
15        1372
16        1592
17        1651
18        2028
19        2365
20        2438
21        2756
22        3332
23        3822
24        4336
25        5775
26        6266
27        6534
28        6663
29        6777

In [3]:
xlsx_path = (r'C:\Users\irhan\OneDrive - grow distributed users\BelajarPython\Dataset\1.1-data-pegawai-dishub-dan-diagram-maret-2020.xls')
df = pd.read_excel(xlsx_path)
print(df.head())

  DATA TABEL DAN DIAGRAM KEPEGAWAIAN BERDASARKAN JENIS KELAMIN, PENDIDIKAN,   \
0                                 AGAMA DAN GOLONGAN
1    DI DINAS PERHUBUNGAN KABUPATEN TEGAL TAHUN 2020
2                                                NaN
3                                                NaN
4                                   Jumlah Laki-laki

   Unnamed: 1
0         NaN
1         NaN
2         NaN
3         NaN
4        47.0

In [12]:
import pandas as pd
songs = {'Artist' :['Michael Jackson','AC/DC', 'Pink Floyd', 'Whitney Houston', 'Meat Loaf', 'Eagles'], 'Album': ['Thriller', 'Back in Black', 'The Dark Side of the Moon','The Bodyguard','Bat Out of Hell', 'Their Greatest Hits (1971-1975)'],
         'Released':[1982, 1980, 1973, 1992, 1977,1976], 'Length': ['00:42:19', '00:42:11', '00:42:49', '00:57:44', '00:46:33','00:43:08']}

songs_frame = pd.DataFrame(songs)
print(songs_frame.head())
x = songs_frame[['Length']] #digunakkan untuk mengambil data dari satu kolom
S = songs_frame['Artist'].unique() #digunakkan untuk mengambil data dari satu kolom
print(x)
print(S)
y = songs_frame[['Album','Released']] #digunakkan untuk mengambil data dari multi kolom atau banyak kolom
print(y)
songs_frame.iloc[0,0] #digunakkan untuk memanggil salah satu atribut dari list
songs_frame.iloc[1,0]
songs_frame.iloc[5,0]
songs_frame.iloc[0, songs_frame.columns.get_loc('Artist')] #mengambil satu data dari atribut menggunakkan index dan key
songs_frame.iloc[2, songs_frame.columns.get_loc('Released')]
z = songs_frame.iloc[0:2, 0:3] #menampilkan data berdasarkan row index dan index kolom
print(z)
songs_frame['Released']>=1980 #output berupa boolean
songs_list = songs_frame[songs_frame['Released']>=1980] #menampilkan list berupa atribut yg sesuai dengan kriteria
print(songs_list)
songs_list.to_csv('80an.csv')

            Artist                      Album  Released    Length
0  Michael Jackson                   Thriller      1982  00:42:19
1            AC/DC              Back in Black      1980  00:42:11
2       Pink Floyd  The Dark Side of the Moon      1973  00:42:49
3  Whitney Houston              The Bodyguard      1992  00:57:44
4        Meat Loaf            Bat Out of Hell      1977  00:46:33
     Length
0  00:42:19
1  00:42:11
2  00:42:49
3  00:57:44
4  00:46:33
5  00:43:08
['Michael Jackson' 'AC/DC' 'Pink Floyd' 'Whitney Houston' 'Meat Loaf'
 'Eagles']
                             Album  Released
0                         Thriller      1982
1                    Back in Black      1980
2        The Dark Side of the Moon      1973
3                    The Bodyguard      1992
4                  Bat Out of Hell      1977
5  Their Greatest Hits (1971-1975)      1976
            Artist          Album  Released
0  Michael Jackson       Thriller      1982
1            AC/DC  Back in Black      1980
            Artist          Album  Released    Length
0  Michael Jackson       Thriller      1982  00:42:19
1            AC/DC  Back in Black      1980  00:42:11
3  Whitney Houston  The Bodyguard      1992  00:57:44

In [10]:


import pandas as banana

df=banana.DataFrame({'a':[11,21,31],'b':[21,22,23]})

df.head()

    a   b
0  11  21
1  21  22
2  31  23

In [13]:
df=pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})
df['a']==1

0     True
1    False
2     True
Name: a, dtype: bool